{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Course</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.css"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
</head>
<body>
    <div id="app">
    </div>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/course.js' %}"></script>
</body>
</html>