{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.css"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
</head>
<body>
    <div id="app">
        <v-app>
            <v-layout>
                <v-app-bar>
                    <v-app-bar-nav-icon>
                        <v-btn flat icon href="{% url 'index' %}">
                            <v-icon>
                                mdi-home
                            </v-icon>
                        </v-btn>
                    </v-app-bar-nav-icon>
                    <v-app-bar-title>
                        Koding
                    </v-app-bar-title>
                    {% if user.is_authenticated %}
                        <v-btn class="mlr-2" href="/studio">Studio</v-btn>
                        <v-btn class="mlr-2" href="/profile/{{ user.username }}">Profile</v-btn>
                        <v-btn class="mlr-2" href="/logout">Logout</v-btn>
                    {% else %}
                        <v-btn class="mlr-2" href="/login">Login</v-btn>
                        <v-btn class="mlr-2" href="/signup">Sign up</v-btn>
                    {% endif %}
                </v-app-bar>
                <v-main>
                    <div class="main"> 
                        {% if courses_list %}
                            {% for course in courses_list %}
                                <v-card>
                                    <v-card-title>
                                        {{ course.course_name }}
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn href="/course/{{ course.id }}/">Visit</v-btn>
                                    </v-card-actions>
                                </v-card>
                            {% endfor %}
                        {% else %}
                            <p id="no-courses-available">No courses are available</p>
                        {% endif %}
                    </div>
                </v-main>
            </v-layout>
        </v-app>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>