{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Studio</title>
    <link rel="stylesheet" href="{% static 'css/studio.css' %}"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.css"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
</head>
<body>
    <div id="app">
        <v-app>
            <v-app-bar>
                    <v-app-bar-nav-icon>
                        <v-btn flat icon href="{% url 'index' %}">
                            <v-icon>
                                mdi-home
                            </v-icon>
                        </v-btn>
                    </v-app-bar-nav-icon>
                    <v-app-bar-title>
                        Koding
                    </v-app-bar-title>
                    {% if user.is_authenticated %}
                        <v-btn class="mlr-2" href="/profile/{{ user.username }}">Profile</v-btn>
                        <v-btn class="mlr-2" href="/logout">Logout</v-btn>
                    {% else %}
                        <v-btn class="mlr-2" href="/login">Login</v-btn>
                        <v-btn class="mlr-2" href="/signup">Sign up</v-btn>
                    {% endif %}
                </v-app-bar>
            <v-layout>
                <v-main>
                    <div class="main">
                        <h1>Your Courses</h1>
                        <div class="courses">
                            <v-card width="300" class="pa-3 pb-0">
                                <v-card-title>
                                    Python for Begginners
                                </v-card-title>
                                 <v-divider></v-divider>
                                <v-card-text>
                                    This is your go to course if you are just new to programming and want to learn python from a fun and instructive perspective. Trust me, I've been there :)
                                </v-card-text>
                                 <v-divider></v-divider>
                                <v-card-text class="d-flex justify-space-evenly">
                                    <span>
                                        <v-icon color="red">mdi-arrow-up-bold</v-icon>
                                        10
                                    </span>
                                    <span>
                                        <v-icon color="blue">mdi-comment</v-icon>
                                        7
                                    </span>
                                    <span>
                                        <v-icon color="orange">mdi-star</v-icon>
                                        2
                                    </span>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red">
                                        Delete
                                    </v-btn>
                                    <v-btn color="blue">
                                        Stats
                                    </v-btn>
                                    <v-btn color="green">
                                        Edit
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-card width="300" class="pa-3 pb-0">
                                <v-card-title>
                                    Python for Begginners
                                </v-card-title>
                                 <v-divider></v-divider>
                                <v-card-text>
                                    This is your go to course if you are just new to programming and want to learn python from a fun and instructive perspective. Trust me, I've been there :)
                                </v-card-text>
                                 <v-divider></v-divider>
                                <v-card-text class="d-flex justify-space-evenly">
                                    <span>
                                        <v-icon color="red">mdi-arrow-up-bold</v-icon>
                                        10
                                    </span>
                                    <span>
                                        <v-icon color="blue">mdi-comment</v-icon>
                                        7
                                    </span>
                                    <span>
                                        <v-icon color="orange">mdi-star</v-icon>
                                        2
                                    </span>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red">
                                        Delete
                                    </v-btn>
                                    <v-btn color="blue">
                                        Stats
                                    </v-btn>
                                    <v-btn color="green">
                                        Edit
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-card width="300" class="pa-3 pb-0">
                                <v-card-title>
                                    Python for Begginners
                                </v-card-title>
                                 <v-divider></v-divider>
                                <v-card-text>
                                    This is your go to course if you are just new to programming and want to learn python from a fun and instructive perspective. Trust me, I've been there :)
                                </v-card-text>
                                 <v-divider></v-divider>
                                <v-card-text class="d-flex justify-space-evenly">
                                    <span>
                                        <v-icon color="red">mdi-arrow-up-bold</v-icon>
                                        10
                                    </span>
                                    <span>
                                        <v-icon color="blue">mdi-comment</v-icon>
                                        7
                                    </span>
                                    <span>
                                        <v-icon color="orange">mdi-star</v-icon>
                                        2
                                    </span>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red">
                                        Delete
                                    </v-btn>
                                    <v-btn color="blue">
                                        Stats
                                    </v-btn>
                                    <v-btn color="green">
                                        Edit
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-card width="300" class="pa-3 pb-0">
                                <v-card-title>
                                    Python for Begginners
                                </v-card-title>
                                 <v-divider></v-divider>
                                <v-card-text>
                                    This is your go to course if you are just new to programming and want to learn python from a fun and instructive perspective. Trust me, I've been there :)
                                </v-card-text>
                                 <v-divider></v-divider>
                                <v-card-text class="d-flex justify-space-evenly">
                                    <span>
                                        <v-icon color="red">mdi-arrow-up-bold</v-icon>
                                        10
                                    </span>
                                    <span>
                                        <v-icon color="blue">mdi-comment</v-icon>
                                        7
                                    </span>
                                    <span>
                                        <v-icon color="orange">mdi-star</v-icon>
                                        2
                                    </span>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red">
                                        Delete
                                    </v-btn>
                                    <v-btn color="blue">
                                        Stats
                                    </v-btn>
                                    <v-btn color="green">
                                        Edit
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-card width="300" class="pa-3 pb-0">
                                <v-card-title>
                                    Python for Begginners
                                </v-card-title>
                                 <v-divider></v-divider>
                                <v-card-text>
                                    This is your go to course if you are just new to programming and want to learn python from a fun and instructive perspective. Trust me, I've been there :)
                                </v-card-text>
                                 <v-divider></v-divider>
                                <v-card-text class="d-flex justify-space-evenly">
                                    <span>
                                        <v-icon color="red">mdi-arrow-up-bold</v-icon>
                                        10
                                    </span>
                                    <span>
                                        <v-icon color="blue">mdi-comment</v-icon>
                                        7
                                    </span>
                                    <span>
                                        <v-icon color="orange">mdi-star</v-icon>
                                        2
                                    </span>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red">
                                        Delete
                                    </v-btn>
                                    <v-btn color="blue">
                                        Stats
                                    </v-btn>
                                    <v-btn color="green">
                                        Edit
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </div>
                        <h1>Create Course</h1>
                        <v-card width="500">
                            <v-card-title>
                                <v-text-field label="Title" variant="outlined">
                                </v-text-field>
                            </v-card-title>
                            <v-card-text>
                                <v-textarea label="Description" variant="outlined">
                                </v-textarea>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="red">
                                    Cancel
                                </v-btn>
                                <v-btn color="green">
                                    Create
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                        </div>
                    </div>
                </v-main>
            </v-layout>
        </v-app>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.js"></script>
    <script src="{% static 'js/studio.js' %}"></script>
</body>
</html>