{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.css"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="{% static 'src/vue/dist/css/account.css' %}"></link>
    <link rel="stylesheet" href="{% static 'src/vue/dist/css/chunk-vendors.css' %}"></link>
    <link rel="icon" href="{% static 'images/kodev.png' %}">
</head>
<body>
    <div id="app">
    </div>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/account.js' %}"></script>
</body>
</html>